.card-project {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #208AAE;  
    width: 280px;
    height: 280px;
    box-shadow: 10px 10px  #000;
    
}

.card-project.-blue {
    background-color: #AFD0D6;
}