.main-section {
    background-color: #208AAE;
    padding: 50px 0px 100px 0px;
    border-bottom: 10px solid #000;
}

.main-section .main-title {
    margin-bottom: 60px;
}

.main-section.-bgGray {
    background-color: #36393B;
}

.main-section.-bdFirst {
    border-color: #000;
}

.main-section.-bgSecond {
    background-color: #9D858D;
}

.main-section.-bdBlack {
    border-color: #000;
}