.section {
    background-color: #208AAE;
    padding: 50px 0px 100px 0px;
    border-bottom: 10px solid #000;
}

.section .main-title {
    margin-bottom: 60px;
}

.section.-bgGray {
    background-color: #36393B;
}

.section.-bdFirst {
    border-color: 10px solid #000;
    
}